#od_load_mod{bottom:0px;position:fixed;display:none;text-align:right;border-top:#f55 solid 1px;border-right:#f55 solid 1px}
#llm_hilight{background-color:red;padding:3px;border-top:#f77 solid 1px;border-right:#f77 solid 1px}
#od_load_mod_close{margin-bottom:2px;cursor:pointer}
#od_load_mod_msg, #od_approach_mod_msg{padding:3px;background-color:white}